openapi: "3.0.0"
info:
    version: "1.0.0"
    title: "Sockfish"
    description: Sockfish

servers:
    - url: https://api.10f7c7.dev/api/v1

paths:
    /users/{userId}:
        parameters:
            - name: userId
              description: The unique identifier of the user
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/UserId"
        get:
            summary: Read a user object
            operationId: getUserById
            x-operation-name: get-user-by-id
            tags:
                - users
            responses:
                "200":
                    description: The user corresponding to the provided `userId`
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/User"
                "404":
                    description: No user found for the provided `userId`
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Unexpected error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - ApiKey: []
        post:
            summary: Sets a user's object
            operationId: setUserById
            x-operation-name: set-user-by-id
            tags:
                - users
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/User"
                            properties:
                                passType:
                                    type: string
                                    enum:
                                        - bathroom
                                        - nurse
                                        - water
                                        - hall
                                        - office
                                        - media
                                        - ss
                                        - other
            responses:
                "200":
                    description: Successfully created a new artist

                "400":
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
            security:
                - ApiKey: []
    /users/{userId}/hall_passes:
        parameters:
            - name: userId
              description: The unique identifier of the user
              in: path
              required: true
              schema:
                  $ref: "#/components/schemas/UserId"
        get:
            summary: Read a user hall passes
            operationId: getUserPassesById
            x-operation-name: get-user-passes-by-id
            tags:
                - users
            responses:
                "200":
                    description: The user corresponding to the provided `userId`
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/HallPasses"
                "404":
                    description: No user found for the provided `userId`
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Unexpected error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            security:
                - ApiKey: []
        post:
            summary: creates a new hall pass
            operationId: setUserPassesById
            x-operation-name: set-user-passes-by-id
            tags:
                - users
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/HallPassItem"
            responses:
                "200":
                    description: Successfully created a new artist

                "400":
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
            security:
                - ApiKey: []
    /auth/login:
        post:
            summary: creates a new JWT token
            operationId: createAuthToken
            x-operation-name: create-auth-token
            tags:
                - auth
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UserLogin"
            responses:
                "200":
                    description: Successfully created a new JWT token
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/UserToken"
                                
                "400":
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
    /auth/signup:
        post:
            summary: creates a new user
            operationId: createUser
            x-operation-name: create-user
            tags:
                - auth
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/UserLogin"
            responses:
                "200":
                    description: Successfully created a new user
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string

                "400":
                    description: Invalid request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
components:
    schemas:
        UserId:
            description: The unique identifier of the user
            type: integer
        Course:
            type: object
            description: the names and locations of classes
            required:
                - courseName
                - courseRoom
                - courseTeacher
            properties:
                courseName:
                    type: string
                courseRoom:
                    type: string
                courseTeacher:
                    type: string
        HallPasses:
            type: array
            description: list of user hall passes
            items:
                $ref: "#/components/schemas/HallPassItem"
                required:
                    - returnTime
                properties:
                    returnTime:
                        type: string
                        format: date-time
        HallPassItem:
            type: object
            description: the times and type of hall passes
            required:
                - type
                - exitTime
            properties:
                type:
                    type: string
                    enum:
                        - Bathroom
                        - Hall
                        - Nurse
                        - Water
                        - Office
                        - Media
                        - SS
                        - Other
                exitTime:
                    type: string
                    format: date-time
                returnTime:
                    type: string
                    format: date-time
        User:
            type: object
            required:
                - id
                - name
                - attributes
                - hallPassTimes
                - information
                - appointments
            properties:
                id:
                    $ref: "#/components/schemas/UserId"
                name:
                    type: string
                attributes:
                    type: object
                    required:
                        - hasHallPass
                    properties:
                        hasHallPass:
                            type: boolean
                hallPassTimes:
                    $ref: "#/components/schemas/HallPasses"
                information:
                    type: object
                    required:
                        - graduationYear
                        - courses
                    properties:
                        graduationYear:
                            type: string
                        courses:
                            type: array
                            items:
                                $ref: "#/components/schemas/Course"
                description:
                    type: string
        UserLogin:
            type: object
            required:
                - username
                - password
            properties:
                username:
                    type: string
                password:
                    type: string
        UserToken:
            type: object
            required:
                - id
                - username
                - authToken
            properties:
                id:
                    type: integer
                username:
                    type: string
                authToken:
                    type: string


        Error:
            type: object
            required:
                - message
            properties:
                message:
                    description: A human readable error message
                    type: string
    securitySchemes:
        ApiKey:
            type: apiKey
            in: header
            name: x-access-token
# security:
#     - ApiKey: []
